*{
    box-sizing: border-box;
}
body{
    background-color: #F3F3F3;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 873px;
    margin: 0 auto;
}
.search{
    width: 403px;
    height: 98px;
    background-color: #fff;
    border-radius: 25px;
    margin-left: 37px;
    display: flex;
}
.search__image{
    width: 44px;
    height: 48px;
    margin-top: 25px;
    margin-left: 27px;
}
.search__input{
    width: 253px;
    height: 45px;
    margin-top: 25px;
    margin-left: 8px;
    outline:none;
    border: none;
    border-bottom: 1px solid #C2C2C2;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.search__btn{
    width: 42px;
    height: 38px;
    margin-top: 30px;
    margin-left: 10px;
    background-color: #4D8CE9;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.search__btn:hover{
    background-color: #2079fd;
}
.search__btn:active{
    background-color: #0066ff;
}
.login{
    min-width: 111px;
    height: 98px;
    background-color: #fff;
    border-radius: 25px;
    margin-right: 37px;
    display: flex;
}
.login__btn{
    position: relative;
    left: 19%;
    margin-left: 35px;
    margin-top: 45px;
    color:#4D8CE9;
    font-size:14px;
    font-family: 'Roboto', sans-serif;
    background:transparent;
    font-weight: 500;
    cursor:pointer;
    border-radius: 10px;
    border:1px solid #4D8CE9;
    min-width:60px;
    height:50px;
    text-align:center;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    -webkit-transition:all .6s ease-in-out;
    transition:all .6s ease-in-out;
    overflow:hidden;
}
.login__btn::before{
    content:'';
    position:absolute;
    top:-130px;
    margin:auto;
    display:block;
    border-radius:50%;
    width:200px;
    height:200px;
    left:-75px;
    -webkit-transition:box-shadow .5s ease-in-out;
    transition:box-shadow .5s ease-in-out;
    z-index:-1;
}
.login__btn:hover{
    color: white;
}
.login__btn:hover::before{
    box-shadow:inset 0 0 0 160px #4D8CE9;
}
.laborotory{
    width: 873px;
    height: 103px;
    background-color: #fff;
    display: flex;
    margin-top: 95px;
    border-radius: 15px;
}
.lab__image{
    width: 71px;
    height: 71px;
    margin-top: 16px;
    margin-left: 18px;
}
.laborotory__text{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 18px;
}
.light__font{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #A5A5A5;
    position: absolute;
    margin-left: 350px;
}
.laborotory__link-downloader{
    margin-top: 20px;
    position: absolute;
    margin-left: 650px;
}
.laborotory__img-docs{
    width: 62px;
    height: 62px;
}
.laborotory__send-docs{
    margin-top: 25px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 55px;
    background-color: #4D8CE9;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute;
    margin-left: 750px;
}
.laborotory__send-docs:hover{
    background-color: #2a7fff;
}
.laborotory__send-docs:active{
    background-color: #0066ff;
}
.add__work{
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 170px;
    height: 30px;
    background-color: #4D8CE9;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.add__work:hover{
    background-color: #2a7fff;
}
.add__work:active{
    background-color: #0066ff;
}
.popup__bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 3;
    top: 0;
    left: 0;
    display: none;
}
.popup{
    position: absolute;
    width: 350px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 15px;
}
.close__popup{
    margin-top: 10px;
    margin-left: 10px;
}
.close__popup-link{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.popup__top-text{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.popup__input-inner{
    display: flex;
    width: 248px;
    margin: 0 auto;
    margin-top: 20px;
}
.head__login{
    width: 30px;
    height: 29px;
    border-radius: 5px 0 0 5px;
    background-color: #F3F3F3;
}
.head__icon{
    font-size: 18px;
    color: #9B9B9B;
    margin-top: 5px;
    margin-left: 6px;
}
.input__login{
    width: 217px;
    height: 29px;
    border-radius: 0 5px 5px 0;
    background-color: #F3F3F3;
    color: #000;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: none;
    outline: none;
    margin-left: 2px;
}
input.input__login::placeholder{
    color: #CCCCCC;
}
.input__login-btn{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #4D8CE9;
    border: none;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
}
.input__login-btn:hover{
    background-color: #297cf8;
}
.input__login-btn:active{
    background-color: #0066ff;
}
.login__inner{
    text-decoration: none;
    display: flex;
}
.user__img{
    margin-top: 11px;
    margin-left: 15px;
    width: 67px;
    height: 67px;
}
.user__rank{
    color: black;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}
.user__name{
    color: #A5A5A5;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}
.user__info{
    display: block;
    margin-top: 21px;
    margin-left: 9px;
}
.exit{
    margin-top: 26px;
    margin-left: 8px;
    margin-right: 10px;
}
.top__text{
    color: #A5A5A5;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}
.back__btn{
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #4D8CE9;
    color: white;
    top: 90%;
    left: 1%;
    display: block;
}
.report__btn-inner{
    margin-top: 20px;
    display: block;
    position: absolute;
    margin-left: 750px;
}
.report__accept{
    display: block;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    width: 105px;
    height: 30px;
    background-color: #4D8CE9;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.report__decline{
    border-radius: 7px;
    cursor: pointer;
    border: none;
    width: 105px;
    height: 30px;
    background-color: #B5B5B5;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 5px;
}
.report__link-downloader{
    margin-top: 20px;
}
.files{
    display: flex;
    position: absolute;
    margin-left: 590px;
}
.popup__addwork{
    position: absolute;
    width: 593px;
    height: 452px;
    background-color: #fff;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top__text-addwork{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    text-align: center;
}
.input__inner{
    display: block;
    width: 301px;
    margin: 0 auto;
    margin-top: 40px;
}
.input__text{
    color: #D2D2D2;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
}
.input__area{
    width: 267px;
    height: 35px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #F3F3F3;
    border-radius: 5px;
    border: none;
    outline: none;
}
input.input__area::placeholder{
    color: #D2D2D2;
}
.input__date{
    width: 267px;
    height: 35px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #F3F3F3;
    border-radius: 5px;
    border: none;
    outline: none;
    background-image: url(/img/date_range.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 275px 7px;
}
.input__file-btn{
    background-color: #4D8CE9;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 142px;
    height: 38px;
    border: none;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    background-image: url(/img/upload_file.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 7px;
    padding-left: 15px;
}
.input__file-btn:hover{
    background-color: #71aaff;
}
.flex{
    display: flex;
}
.input__file-text{
    padding-left: 10px;
    display: flex;
    width: 162px;
    height: 38px;
    background-color: #F3F3F3;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #929292;
    align-items: center;
    border-radius: 0 5px 5px 0;
}
.addwork__submit{
    background-color: #4D8CE9;
    color: white;
    border: none;
    border-radius: 10px;
    width: 142px;
    height: 38px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}
.addwork__submit:hover{
    background-color: #71aaff;
}
.addwork__submit:active{
    background-color: #237bff;
}
.input__wrapper{
    display: flex;
}
.title__icon{
    width: 35px;
    height: 35px;
    margin-right: 2px;
    background-color: #F3F3F3;
    border-radius: 5px 0 0 5px;
}
.title__img{
    margin-left: 9px;
    margin-top: 8px;
    width: 18px;
    height: 18px;
}